<h2>Withdrawal</h2>

@using (Html.BeginForm("Withdrawal", "Transaction", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{

    <div class="form-group">
        <label>Please enter the amount of your withdrawal:</label>
        <div>
            <input type="number" id="amount" name="Amount" min="0" value="0" step="any" />
        </div>
    </div>
    <div class="form-group">
        <div>
            <input type="submit" value="Submit Withdrawal" class="btn btn-default" />
        </div>
    </div>
}
<div id="result">@ViewData["result"]</div>
